* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.screen-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#screen {
  background-color: aliceblue;
}

#screen:hover {
  cursor: none;
}